
@charset "utf-8";
body{
    background-image: linear-gradient(to left, purple, blue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input{
    padding: 10px;
    border: none;
    outline: none;
}
button{
    background-color:dodgerblue;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    color: white;
}



.login{
    background-color: rgba(0, 0, 0, 0.8); /*código para deixar a cor preta transparente*/
    position: absolute;
    color: white;
        /*códigos para centralizar a div*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 70px;
    border-radius: 50px;
    z-index: -1000;

}
#texto_inicial{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding-top:220px ;
    padding-left: 760px;
    font-size: 0.6em;
    
    
}