*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffcf7;
}
.card{
    width: 500px;
    height: 140px;
    background-color: #de7229;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border-right: 20px;
}

body button {
    background-color: #f2ce63;
    padding: 12px 34px;
    margin-left: 136px;
    margin-top: 28px; /*distância do botão para o texto*/
    border-radius: 20px;
    border-style: none;
}
body button a{
    font-size: 15px;
    text-decoration: none;
    color:white;
}
a:hover
{
    color: #4b593f;
    text-decoration: underline; /*adiciona sublinhado ao interagir com o mouse*/
}
body h2{
    padding-left: 29px;
}